<%- include('../../partials/header') %>

<h2>User Profile</h2>
<p><strong>Name:</strong> <%= user.name %></p>
<p><strong>Email:</strong> <%= user.email %></p>

<a href="/users/<%= user._id %>/edit">Edit</a>
<form action="/users/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
  <button type="submit">Delete</button>
</form>

<%- include('../../partials/footer') %>
